@model IEnumerable<In_Mgmt.Models.KPI>

@{
    ViewBag.Title = "Index";
}

<h2>KPI</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    @Html.ActionLink("Add KPI", "Create")
</p>
<table>
    <tr>
        <th>
            KPI_Code
        </th>
        <th>
            KPI_Name
        </th>
        <th>
            Percentage
        </th>
        <th>
            Container Code
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KPI_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KPI_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Percentage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContainerID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KPIID }) |
            @Html.ActionLink("Details", "Details", new { id=item.KPIID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KPIID })
        </td>
    </tr>
}

</table>
<br />
<div>
    @Html.ActionLink("Back to Containers", "../Containers/Index")
</div>

