@model IEnumerable<In_Mgmt.Models.Item>

@{
    ViewBag.Title = "Index";
}

<h2>Item</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            ItemCode
        </th>
        <th>
            ItemName
        </th>
        <th>
            ConsumptionUOM
        </th>
        <th>
            InventoryUOM
        </th>
        <th>
            StoredUOMs
        </th>
        <th>
            DisplayUOMs
        </th>
        <th>
            ContainerLocation
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ItemCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConsumptionUOM.CUOM_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InventoryUOM.IUOM_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StoredUOMs.SUOM_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayUOMs.DUOM_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContainerLocation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ItemID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ItemID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ItemID })
        </td>
    </tr>
}

</table>
